<div class="header">
  <span class="logo" data-icon="&#xe017;">STORMS
    <span class="for">for {{project.name}}</span>
  </span>

  <ul>
    <li ng-repeat="state in openstates"><a ng-click="toggle(state);">{{state}}</a></li>
    <li ng-repeat="state in closedstates"><a ng-click="toggle(state);" ng-class="{dimmed: hide[state]}">{{state}}</a></li>
  </u;>
</div>

<ul class="users clearfix">
  <li ng-repeat="user in users" ng-show="display" ng-controller="UserCtrl">
    <h1 ng-show="loading">Loading tickets</h1>
    <ul class="tickets">
      <li class="name" ng-click="display = !display">{{user.name}}</li>
      <li ng-repeat="ticket in tickets" class="{{ticket.ticket.state}} {{ticket.ticket.importance_name}}" ng-hide="hide[ticket.ticket.state]">
        <div ng-click="expand = !expand">
          <span class="number">#{{ticket.ticket.number}}</span>
          {{ticket.ticket.title}}

          <p class="milestones" ng-show="ticket.ticket.milestone_title">{{ticket.ticket.milestone_title}}</p>
        </div>
        <p class="ticket_body" ng-show="expand">
          {{ticket.ticket.latest_body}}
          <a ng-click="showLightbox(ticket.ticket.url);">view on lighthouse...</a>
        </p>
      </li>
    </ul>
  </li>
</ul>